@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

body{
	text-align: center;
}
.bodytest{
	background-color: #96bbbb;
	text-align: center;
}

ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
li {
	float:left;
}


/* #paper-background {
	background: url(../Images/landingbackground-paper.png);
	background-size: cover;
}
#paper-image {
} */

/*
Everything navbar related \/
*/
.navbar{
	background-color: rgb(25, 68, 115);
	color: white;
	
	padding: 8px;
	font-size: 18px;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Hammersmith One', sans-serif;

}
#navbarBG{
	display: block;
    margin: 20px 150px 20px 150px;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(25, 68, 115);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-family: 'Hammersmith One', sans-serif;
}

.dropbtn {
	background-color: rgb(25, 68, 115, 0);
	color: white;
	padding: 16px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	border-radius: 50%;
	font-family: 'Hammersmith One', sans-serif;
}

li a {
	display: inline-block;
}

li a:hover {
	background-color: #e26b62;
}

.dropdown{
	position:relative;
	display: inline-block;
	font-family: 'Hammersmith One', sans-serif;
}

.dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #e26b62}
.dropdown:hover .dropdown-content {
	display:block;
}
.dropdown:hover .dropbtn {
	background-color:  #e26b62;
}

.container {
	margin-left: 70px;
	margin-right: 70px;
}
#logo {
	margin: 15px;
	transition: 0.2s ease-in-out;
}
#logo:hover {
	transform: scale(1.2);
}
.logo-header {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
	height: 100px;
	width: auto;
}
.main-site-navbar {

}
.nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main-nav-link {

}

.stylehtml-link {
	text-align: center;

}

/*
Related to homepage team member cards \/
*/
.row{
	display:flex;
}
.column{
	flex: 1;
    padding:20px;
    margin:20px;
    max-height: 600px;
    min-height: 200px;
    max-width: 500px;
    min-width: 100px;
    border-radius:10px;
	background-color: white;
	position: relative;
	width: 50%;
	box-shadow: 10px 10px #0000003f;
}
#elias.column{
	background-image:url("../Figures/elias-figure.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#gunnar.column{
	background-image:url("../Figures/gunnarFigure.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#jessica.column{
	background-image:url("../Figures/hottiethottie.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#logan.column{
	background-image:url("../Figures/Logan-Figure.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#nic.column{
	background-image:url("../Figures/Nic-Figure.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#sarah.column{
	background-image:url("../Figures/sarah-stick.png");
	background-size: contain;
    background-repeat: no-repeat;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: rgba(0,0,0,0.3);
	border-radius:10px;
	color:rgba(226, 107, 98, 1);
	font-size:36px;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 1.5px 1.5px #81332d;
  }
  
  .column:hover .overlay {
	opacity: 1;
  }


/* Style.html link on landing page */
.arrow-main {
	position: relative;
	top: 10px;
}
.heart {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: -500px;
	background-color: #225a96;
	height: 70px;
	width: 70px;
	
}
.heart::after {
	background-color: #225a96;
	content: "";
	border-radius: 50%;
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	left: 35px;
}
.heart::before {
	background-color: #225a96;
	border-radius: 50%;
	position: absolute;
	width: 70px;
	height: 70px;
	top: -35px;
	left: 0px;
}
.arrow-shaft {
	background-color: #225a96;
	width: 500px;
	height: 25px;
	margin: auto;
}
.arrow-feathers1 {
	background-color: #225a96;
	width: 100px;
	height: 25px;
	position: relative;
	left: 900px;
}
.arrow-feathers2 {
	background-color: #225a96;
	width: 100px;
	height: 25px;
	position: relative;
	left: 1000px;
}
.stylepage-link-header {
	position: relative;
	margin: 100px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}
h2.arrowtext {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #e26b62;
	background-color: #225a96;
	transform: skewX(-20deg);
	margin: auto;
	width: 300px;
	height: 50px;
}



/* Team pages*/
.content-nameplate {
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	padding-top: 10px;
	margin: 50px;
	color: #225a96;
}
.content-slogan {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 32px;
	margin: 32px;
	color: #225a96;
}
.content-description {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 250px;
}

/* Elias's Custom Styles */
#elias-self-portrait {
	width: 15%;
	margin: 50px;
	box-shadow: 10px 10px #0000003f;
	transform:rotate(-10deg);

	animation: fadeIn 0.7s ease-in-out;
}
#elias-self-portrait:hover {
	animation: shake 0.5s ease-in-out;
}
@keyframes fadeIn{
    0% { 
        transform:rotate(5deg); 
        opacity: 0;
    }
    100% { 
        transform:rotate(-10deg);  
        opacity: 1;
    }
}
@keyframes shake{
    0% { 
        transform:rotate(-10deg); 
    }
	25% {
		transform:rotate(-4deg); 
	}
	50% {
		transform:rotate(-10deg); 
	}
	75% {
		transform:rotate(-4deg); 
	}
	100% {
		transform:rotate(-10deg); 
	}
}

/* Gunnar's Custom Styles */
div.gunnar-primary{
	background: rgba(25, 68, 115, .7);
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	border-radius:10px;
}
hr#gunnarHRID{
	display: block;
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
  	margin-left: auto;
  	margin-right: auto;
  	border: 3px solid  rgb(25, 68, 115);
	border-radius: 5px;
}
p#gunnarID{
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	padding-top:5px;
}
a#gunnarLink{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}
img#gunnarPic{
	border-radius: 20px;
	margin-left:auto;
	margin-right:auto;
	box-shadow:5px 5px#96bbbb;
}
#gunnarAnimation{
	height:10px;
	width:20px;
	background:rgb(25, 68, 115);
	border-radius: 3px;

	animation-name:gunnar;
	animation-duration:3s;
	animation-iteration-count: infinite;
}
@keyframes gunnar{
	0%{
		left:0px;
		width: 20px;
	}
	25%{
		width: 300px;
	}
	50%{
		margin-left:99%;
		width: 20px;
	}
	75%{
		width: 300px;
	}
	100%{
		left:0px;
		width: 20px;
	}
}

div.sarahAnimation{
	background-color: white;
	border: black;
	border-width: thin;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: auto;
	
	animation-name: circle;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	}
	@keyframes circle{
		0%{
			width: 50px;
			height: 50px;
			background-color: plum;
		}
		50%{
			width: 100px;
			height: 100px;
			background-color: lightblue;
		}
		100%{
			width: 50px;
			height: 50px;
			background-color: plum;
		}
	}
img#imageChange{
box-shadow: -10px 10px 20px rgb(29, 61, 95);
border-radius: 45%;
border: 10px solid rgb(211, 75, 139);
}	
div#fontChange{
	font-family:'Lucida Handwriting';
	font-size: 50px;
	color:#000f89;
}
p#changyChange{
	color:rgb(211, 75, 139);
	font-family: monospace;
	font-size: 25px;
}
ol#fixerUper{
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
}
h1#fixDamnYou{
	text-align: left;
}
li#ughFix{
	text-align: left;
	text-indent: 25px;
}
/*Jessicas Jumble of stuffs*/
img#jessicaimageborder{
	border: 20px solid;
	border-radius: 100%;
	border-color:midnightblue;
	box-shadow: lightskyblue;
	animation: rotation 10s infinite linear;
}
p#whereamI{
	font-family: 'Long Cang';
	color:rgb(15, 14, 39);
	font-size: xx-large;
	 

}
hr#jessHR{
	border-top: 20px dotted white;
	border-bottom:rgba(25, 68, 115, .7)

}
@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }
/*Gradient Animator*/
.dark-mode {
    background: linear-gradient(137deg, #0e2222, #194473);
    background-size: 400% 400%;

    -webkit-animation: Dark-BlueGradient 4s ease infinite;
    -moz-animation: Dark-BlueGradient 4s ease infinite;
    -o-animation: Dark-BlueGradient 4s ease infinite;
    animation: Dark-BlueGradient 4s ease infinite;

	color: white;
}

@-webkit-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-o-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

body{
    background: linear-gradient(137deg, #618986, #96bbbb);
    background-size: 400% 400%;

    -webkit-animation: Dark-BlueGradient 4s ease infinite;
    -moz-animation: Dark-BlueGradient 4s ease infinite;
    -o-animation: Dark-BlueGradient 4s ease infinite;
    animation: Dark-BlueGradient 4s ease infinite;
}

@-webkit-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-o-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

/*Logan's neat stuff*/
/*Animation code for arrow is setup correctly. Couldn't get image to work properly.*/
.text-logan
{
	font-family: monospace;
}
.photo-animate
{
	animation: 2s alternate infinite;
	animation-name: bounce;
}

.logan-content {
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 300px;
	font-family: monospace;
}

.loganID {
	margin-left:auto;
	margin-right:auto;
	border-radius:20px;
	padding-top:10px;
}


img#loganborder {
	border: 15px solid;
	border-radius: 10%;
	border-color: black;
	box-shadow: blanchedalmond;
	border-style: dotted;
}
.container {
	margin: 40px auto;
	max-width: 600px;
  }
.arrow {
	text-align: center;
	margin: 30px 0;
  }
  .arrow-anim {
	color: #00FF00;
	font-size: 50px;
	animation: bounce 1s alternate infinite;
  }
  .arrow-anim:hover {
	color: #fff;
	text-decoration: none;
  }
  @keyframes bounce {
	0% {}
	50% {
	  transform: translateY(0px);
	}
	100% {
	  transform: translateY(20px);
	}
}