@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@700&display=swap');
body{
	text-align: center;
}


.bodytest{
	background-color: #96bbbb;
	text-align: center;
}

ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
li {
	float:left;
}
.navbar{
	background-color: rgb(25, 68, 115);
	color: white;
	
	padding: 8px;
	font-size: 18px;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
	font-family:Verdana, Geneva, Tahoma, sans-serif;

}

#navbarBG{
	display: block;
    margin: 20px 150px 20px 150px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(25, 68, 115);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.dropbtn {
	background-color: rgb(25, 68, 115, 0);
	color: white;
	padding: 16px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	border-radius: 50%;
}

li a {
	display: inline-block;
}

li a:hover {background-color: #e26b62;}

.dropdown{
	position:relative;
	display: inline-block;
}

.dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #e26b62}
.dropdown:hover .dropdown-content {
	display:block;
}
.dropdown:hover .dropbtn {
	background-color:  #e26b62;
}

.container {
	margin-left: 70px;
	margin-right: 70px;
}
.logo-header {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
	height: 100px;
	width: auto;
}
.main-site-navbar {

}
.nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main-nav-link {

}

.eyes{
background-color: white;
border: black;
border-radius: 50%;
width: 50px;
height: 50px;
margin: auto;
}
.eyes::before{
content: "";
position: absolute;
width: 50px;
height: 50px;
left: 50px;
}
.eyes::after{
content: "";
position: absolute;
width: 50px;
height: 50px;
}


.stylehtml-link {
	text-align: center;

}

.row{
	display:flex;
}
.column{
	flex: 1;
    padding:20px;
    margin:20px;
    max-height: 600px;
    min-height: 200px;
    max-width: 500px;
    min-width: 100px;
    border-radius:10px;
	background-color: white;
	position: relative;
	width: 50%;
}
#elias.column{
	background-image:url("../Figures/elias-figure.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#gunnar.column{
	background-image:url("../Figures/gunnarFigure.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#jessica.column{
	background-image:url("../Figures/hottiethottie.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#logan.column{
	background-image:url("../Figures/Logan-Figure.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#nic.column{
	background-image:url("../Figures/Nic-Figure.png");
	background-size: contain;
    background-repeat: no-repeat;
}
#sarah.column{
	background-image:url("../Figures/sarah-stick.png");
	background-size: contain;
    background-repeat: no-repeat;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: rgba(0,0,0,0.4);
	border-radius:10px;
	color:rgba(226, 107, 98, 1);
	font-size:36px;
	font-family: 'Hammersmith One', sans-serif;
	text-align: center;
  }
  
  .column:hover .overlay {
	opacity: 1;
  }
  

/* Team pages relate */

.content-nameplate {
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	padding-top: 10px;
	margin: 50px;
	color: #194473;
}
.content-slogan {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 32px;
	margin: 32px;
	color: #194473;
}
.content-description {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

/* Gunnar's Custom Styles */
.gunnar-primary{
	background: rgba(25, 68, 115, .7);
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	border-radius:10px;
}
#gunnarHRID{
	display: block;
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
  	margin-left: auto;
  	margin-right: auto;
  	border: 3px solid  rgb(25, 68, 115);
	border-radius: 5px;
}
#gunnarID2{
	background: rgba(226, 107, 98, .7);
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	height: 30px;
	border-radius:10px;
}

/*Gradient Animator*/
.dark-mode {
    background: linear-gradient(137deg, #0e2222, #194473);
    background-size: 400% 400%;

    -webkit-animation: Dark-BlueGradient 2s ease infinite;
    -moz-animation: Dark-BlueGradient 2s ease infinite;
    -o-animation: Dark-BlueGradient 2s ease infinite;
    animation: Dark-BlueGradient 2s ease infinite;

	color: white;
}

@-webkit-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-o-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

body{
    background: linear-gradient(137deg, #618986, #96bbbb);
    background-size: 400% 400%;

    -webkit-animation: Dark-BlueGradient 2s ease infinite;
    -moz-animation: Dark-BlueGradient 2s ease infinite;
    -o-animation: Dark-BlueGradient 2s ease infinite;
    animation: Dark-BlueGradient 2s ease infinite;
}

@-webkit-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-o-keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes Dark-BlueGradient {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}