body{
	background-color: #96bbbb;
	text-align: center;
}

.bodytest{
	background-color: #96bbbb;
	text-align: center;
}

ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
li {
	float:left;
}
.navbar{
	background-color: rgb(25, 68, 115);
	color: white;
	padding: 16px;
	font-size: 16px;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
	font-family:Verdana, Geneva, Tahoma, sans-serif;

}

#navbarBG{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(25, 68, 115);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.dropbtn {
	background-color: rgb(25, 68, 115);
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-decoration:underline;
	border-radius: 50%;
}

li a {
	display: inline-block;
}

li a:hover {background-color: #e26b62;}

.dropdown{
	position:relative;
	display: inline-block;
}

.dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #e26b62}
.dropdown:hover .dropdown-content {
	display:block;
}
.dropdown:hover .dropbtn {
	background-color:  #e26b62;
}

.container {
	margin-left: 70px;
	margin-right: 70px;
}
.logo-header {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
	height: 100px;
	width: auto;
}
.main-site-navbar {

}
.nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main-nav-link {

}



/* Team pages relate */

.content-nameplate {
	font-family: 'Courier New', Courier, monospace;
	font-size: 42px;
}
.content-slogan {
	font-family: 'Comic Sans,';
	font-size: 32px;
}
.content-description {
	font-size: 16px;
}