.container {
	margin-left: 70px;
	margin-right: 70px;
}

.logo-header {
<<<<<<< HEAD:style.css
=======
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
>>>>>>> 2581ccfae52366952bdac3fcbcecb2d661893a23:Project 2/style.css
	height: 100px;
	width: auto;
}
.main-site-navbar {

}
.nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main-nav-link {

}