.container {
	margin-left: 70px;
	margin-right: 70px;
}

.logo-header {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
	height: 100px;
	width: auto;
}
.main-site-navbar {

}
.nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main-nav-link {

}